# -*- sh -*-

# Basic System Settings
SECRET_KEY = "CHANGEME"
URL_ROOT = '/' # Location, relative to domain root to run the TypeChange bot application at.
DATA_DIR = 'TODO' # Location to store cloned repositories
ALLOWED_HOSTS = '127.0.0.1,0.0.0.0' # Set of allowed hosts, see also https://docs.djangoproject.com/en/5.1/ref/settings/#allowed-hosts

# Database Configuration
DATABASE_URL = '' # dj-database-url (https://pypi.org/project/dj-database-url/) compatible database URL

# Task Queue
CELERY_BROKER_URL = 'redis://localhost:6379/1' # Redis broker URL (check host and database for multiple-node installations)

# GitHub Application Configuration
GITHUB_APP_KEY="TODO" # GitHub Application Key, new-lines replaced with `\n`
GITHUB_APP_ID='TODO'
GITHUB_APP_CLIENT_SECRET='TODO'

# GumTree
GUMTREE_DIR = '/TODO/gumtree/dist/build/install/gumtree/bin/'
GUMTREE_TREESITTER_DIR = '/TODO/gumtree-parser/'
