[Unit]
Description=Type Change Bot worker: clone repositories and process commits
After=network.target

[Service]
Type=simple
WorkingDirectory=/path/to/installation
ExecStart=/path/to/installation/venv/bin/celery -A typechangesapp worker --loglevel=INFO -Q celery,%H
User=worker-user

[Install]
WantedBy=default.target