<p>Hello {{NAME}},</p>

<p>
    I’m Samuel Flint, and I’m working with Dr. Robert Dyer from the University of Nebraska-Lincoln on a study about type annotations in dynamic languages.
    Your project, <a href="https://github.com/{{PROJECT}}">{{PROJECT}}</a>, is highly relevant to our research, and we’d like your permission to monitor it.
</p>

<p>
    If you agree, we will provide a bot that tracks changes related to type annotations.
    The bot will notify committers after relevant changes, asking them to participate in the study (no more than once every 24 hours, and they can opt-out or request data removal at any time).
</p>

<p>
    Would you be willing to have us monitor your project?
    If so, please install the bot using the instructions here: <a href="https://github.com/apps/typechangebot">Install Bot</a>.
</p>

<p>Thanks for considering!</p>

<p>Samuel W. Flint and Robert Dyer</p>

<p>
    This study as been approved by the University of Nebraska-Lincoln <a href="https://research.unl.edu/researchcompliance/human-subjects-research/">Institutional Review Board</a> with the title “Understanding Developers’ Addition and Removal of Type Annotations”, IRB# 23988.
</p>
