<p>Hello {{ committer.name_or_username }},</p>

<p>
    I'm Samuel Flint, and I'm working with Dr. Robert Dyer from the University of Nebraska-Lincoln on a study about type annotations in dynamic languages.
    We would like your permission to monitor the following project(s), which are highly relevant to our research, and for which you are maintainer:
    <ul>
        {% for project_committer in committer.projectcommitter_set.all %}
        {% if project_committer.is_maintainer and project_committer.project.track_changes %}
        <li><a href="{{ project_committer.project.clone_url }}">{{project_committer.project}}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</p>

<p>
    If you agree, we will provide a bot that tracks changes related to type annotations.
    The bot will notify committers after relevant changes, asking them to participate in the study (no more than once every 24 hours, and they can opt-out or request data removal at any time).
</p>

<p>
    Would you be willing to have us monitor your project(s)?
    If so, please install the bot using the instructions <a href="https://github.com/apps/typechangebot">here</a>.
</p>

<p>Additional help is available from <a href="https://docs.github.com/en/apps/using-github-apps/installing-a-github-app-from-a-third-party">GitHub</a>.</p>
<p>Thanks for considering!</p>
<p>Samuel W. Flint and Robert Dyer</p>

<p>
    This study as been approved by the University of Nebraska-Lincoln <a href="https://research.unl.edu/researchcompliance/human-subjects-research/">Institutional Review Board</a> with the title “Understanding Developers’ Addition and Removal of Type Annotations”, IRB# 23988.
</p>
